# folders
examples/output/*
dist/*
logs/*
dist/*
build/*
docs/_build/*

# python
**/.venv/*
**/env/
*.env/
**/__pycache__/*
**/dcmi.egg-info/*
**/DCMI.egg-info/*
*.pyc
*.pyo
.python-version

# coverage
.coverage
.coverage.*
htmlcov/

# others

# exceptions
